---
layout: layouts/base.njk
title: News
permalink: /news/
---

<h1>Top Technology Headlines</h1>

<div id="news-carousel">
    {% for article in news.articles %}
    <div class="news-slide">
        <div class="news-content">
            <h3><a href="{{ article.url }}" target="_blank">{{ article.title }}</a></h3>
            <p>{{ article.description }}</p>
            {% if article.urlToImage %}
            <img src="{{ article.urlToImage }}" alt="Image for {{ article.title }}" class="news-image">
            {% endif %}
            <p><strong>Full Article:</strong> <a href="{{ article.url }}" target="_blank">View</a></p>
            <small>Published at: {{ article.publishedAt }}</small>
            <p><strong>Author:</strong> {{ article.author }}</p>
            <p><strong>Source:</strong> {{ article.source.name }}</p>
        </div>
    </div>
    {% endfor %}
</div>


<div class="carousel-navigation">
    <button class="prev-btn">Previous</button>
    <button class="next-btn">Next</button>
</div>


<script>
    let currentSlide = 0;
    const slides = document.querySelectorAll('.news-slide');
    const totalSlides = slides.length;


    function showSlide(index) {
        if (index >= totalSlides) {
            currentSlide = 0;
        } else if (index < 0) {
            currentSlide = totalSlides - 1;
        } else {
            currentSlide = index;
        }


        slides.forEach(slide => slide.style.display = 'none');


        slides[currentSlide].style.display = 'block';
    }


    document.querySelector('.prev-btn').addEventListener('click', () => {
        showSlide(currentSlide - 1);
    });

    document.querySelector('.next-btn').addEventListener('click', () => {
        showSlide(currentSlide + 1);
    });


    showSlide(currentSlide);
</script>


